#timer-app {
  text-align: center;
  font-size: 65px;
  color: white;
}

.timer-container {
  background-color:rgb(2, 179, 148, .85);;
  padding-bottom: 1%;
  padding-top: 0.5%;
  resize: stretch;
}


